/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font + base */
body {
  font-family: "Inter", sans-serif;
  background: #fafafa;
  color: #111;
  line-height: 1.6;
}

/* Header */
.header {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 26px;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #111;
  font-weight: 400;
  transition: 0.2s;
}

.nav a:hover {
  opacity: 0.6;
}

/* Hero */
.hero {
  padding: 80px 60px;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
}

.hero-image img {
  width: 100%;
  border-radius: 22px;
  border: 1px solid #eee;
}


.hero-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 54px;
  margin-bottom: 20px;
}

.hero-text p {
  max-width: 500px;
  margin-bottom: 30px;
  color: #444;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 30px;
  background: #111;
  color: white;
  text-decoration: none;
  margin-right: 12px;
  transition: 0.2s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-outline {
  background: transparent;
  border: 1px solid #111;
  color: #111;
}

/* Sections */
.section {
  padding: 80px 60px;
}

.section h3 {
  font-family: "Playfair Display", serif;
  font-size: 34px;
  margin-bottom: 20px;
}

.section p {
  max-width: 700px;
  color: #333;
}

/* Features */
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.feature-card {
  padding: 20px;
  border-radius: 16px;
  background: white;
  border: 1px solid #eee;
}

.feature-card h4 {
  margin-bottom: 10px;
}

/* Menu */
.menu-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.menu-item {
  padding: 18px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

/* Reservation */
.reservation {
  background: #111;
  color: white;
  text-align: center;
}

.reservation p {
  margin: 20px auto;
  color: #ddd;
}

.reservation .btn {
  background: white;
  color: #111;
}

/* Contact */
.contact-info {
  margin-top: 20px;
  font-size: 18px;
}

/* Footer */
.footer {
  text-align: center;
  padding: 30px;
  border-top: 1px solid #ddd;
  color: #666;
}

/* Responsive */
@media (max-width: 512px) {
  .header {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .hero {
    padding: 40px 20px;
    height: auto;
  }

  .hero-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-image {
    margin-top: 25px;
  }

  .hero-text h2 {
    font-size: 38px;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .menu-grid {
    grid-template-columns: 1fr;
  }

  .section {
    padding: 60px 20px;
  }
}

